<header>
	<div class="nav cnt wrap">
		<div class="title">
			<a href="/"><span>Farmaceutica Younger</span></a>
			<a role="button" onClick="toggleNav()" class="collapsed"><i class="fas fa-bars"></i></a>
		</div>
		<div class="collapse" id="collapase">
			<a href="/"><span>Blog</span></a>
			<a href="/hotthisweek"><span>Hot This Week</span></a>
			<a href="/pharmacronimi"><span>Pharma Acronimi</span></a>
			<a href="/pharmaquotes "> <span>Pharma Quotes</span> </a>
			<a class="social" href="https://www.facebook.com/pharmayoungercommunity/"><i class="fab fa-facebook"></i></a>		
		</div>
	</div>
</header>