<header>
	<div class="nav cnt wrap">
		<div class="main">
			<div class="title">
				<div class="logo">
					<img src="/img/logo-white.png" alt="">
				</div>
				<a href="/"><p class="main">Farmaceutica</p> <p class="second">Younger</p></a>
			</div>
			<a role="button" onClick="toggleNav()" class="collapsed"><i class="fas fa-bars"></i></a>
		</div>
		<div id="collapse" class="hidden-on-mobile">
			<a href="/blog"><span>Articoli</span></a>
			<a href="/hotthisweek"><span>Hot This Week</span></a>
			<a href="/tags/farmanews/"><span>Farma News</span></a>
			<a href="/pharmacronimi"><span>Farma Acronimi</span></a>
			<a href="/pharmaquotes "> <span>Farma Quotes</span> </a>
			<a class="social" href="https://www.facebook.com/FarmaceuticaYounger/"><i class="fab fa-facebook"></i></a>		
		</div>
	</div>
</header>