<header>
  <div class="nav cnt wrap">
    <div class="main">
      <div class="title">
        <div class="logo">
          <img src="/img/logo-white.svg" alt="" />
        </div>
        <a href="/"
          ><p class="main">Farmaceutica</p>
          <p class="second">Younger</p></a
        >
      </div>
      <a role="button" onClick="toggleNav()" class="collapsed"><i class="fas fa-bars"></i></a>
    </div>
    <div id="collapse" class="hidden-on-mobile">
      <a href="/tags/articoli/"><span>Articoli</span></a>
      <a href="/tags/cgmp/"><span>cGMP</span></a>
      <a href="/hotthisweek"><span>Hot This Week</span></a>
      <a href="/tags/hotthismonth/"><span>Hot This Month</span></a>
      <a href="/tags/farmanews/"><span>Farma Approval</span></a>
      <a href="/pharmacronimi"><span>Farma Acronimi</span></a>
      <a href="/pharmaquotes "> <span>Farma Quotes</span> </a>
      <a href="/contatti "> <span>Contatti</span> </a>
    </div>
  </div>
</header>
