<div class="profile">
  <div class="image">
    <img src="/img/silvia.jpg" alt="" />
    <a href="https://www.linkedin.com/in/silvia-vernotico-09b35977/" target="_blank"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
  <p>
    <strong>Benvenuto!</strong> Sono <strong>Silvia Vernotico</strong>, ideatrice e curatrice del
    blog <strong>Farmaceutica Younger</strong>: la piattaforma "Young" tutta italiana rivolta a
    giovani laureati in discipline scientifiche o appassionati dell'universo farmaceutico, dove
    conoscere le regole e i meccanismi del mondo Farmaceutico.
  </p>
</div>
