header {
    background-color: #eee;  
    
    .nav {
        display: flex;
        flex-direction: column;
        min-height: 60px;
        border-bottom: 1px solid #ccc;
        grid-template-areas: "title collpased" "collapse";

        .title {
            height: 60px;
            align-items: center;
            margin: auto 0;
            display: flex !important;
            justify-content: space-between;
            a {
                font-size: 16pt;
                font-weight: bold !important;
            }

            img {
                height: 100%;
            }
        
        }

        #collapse {
            a {
                min-height: 40px;
            }
        }
        a {
            font-weight: normal;
        }
    }

    .secondary-nav {
        height: 40px;

    }

    .flex-fill {
        flex-grow: 1;
    }

    a {
        padding: 0 10px;
        text-decoration: none;
        color: black;
    }

    i {
        font-size: 13pt;
    }

    .collapsed {
        display: block;
    }
    #collapse {
        display: flex;
        flex-direction: column;
    }


    .hidden-on-mobile {
        display: none !important;
    }

    @media screen and (min-width: 800px) {
        .nav {
            flex-direction: row;
            justify-content: space-between;
            .title {
                .collapsed {
                    display: none;
                }
            }
            .hidden-on-mobile {
                display: flex !important;
            }
            #collapse {
                flex-direction: row;
                margin: auto 0;
                a {
                    min-height: 0px !important;
                }
            }
        }
    }
}