header {
    background-color: #eee;  
    .cnt {
        display: flex;
        align-items: center;
        }  
    
    .primary-nav {
        height: 60px;
        border-bottom: 1px solid #ccc;

        a {
            font-weight: bold;
        }
    }

    .secondary-nav {
        height: 40px;

    }

    .flex-fill {
        flex-grow: 1;
    }

    a {
        padding: 0 10px;
        text-decoration: none;
        color: black;
    }

    .title {
        font-size: 16pt;
    }
}