article.post {
    padding-top: 40px;

    img {
        max-width: 100%;
        display: block;
        margin: auto;
        max-height: 600px;
    }

    .title {
        font-size: 30pt;
        line-height: 40pt;
    }

    .info {
        font-weight: 200;
    }

    .content {
        padding: 40px 0;

        p {
            line-height: 30px;
            font-size: 13pt;
        }

        blockquote {
            background: #eee;
            border-radius: 5px;
            padding: 0;
            margin: 0;
            font-style: italic;
            position: relative;
            padding: 25px;
            &:before {
                display: block;
                padding-left: 10px;
                content: "\201C";
                font-size: 80px;
                position: absolute;
                color: #7a7a7a;
                padding: 0;
            }
            &:after {
                display: block;
                padding-left: 10px;
                content: "\201D";
                font-size: 80px;
                position: absolute;
                color: #7a7a7a;
                right: 20px;
                padding: 0;
            }

        }

    }
}