article.post {
    padding-top: 40px;

    img {
        width: 100%;
    }

    .title {
        font-size: 30pt;
        line-height: 40pt;
    }

    .info {
        font-weight: 200;
    }

    .content {
        padding: 40px 0;
        font-size: 13pt;

    }
}