.post-preview-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 30px;
}

.post-preview {
    border: 1px solid #eee;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    p {
        padding: 10px;
        margin: 0;
    }
    h1 {
        padding: 10px;
        margin: 0;
        font-size: 16pt;
    }
    img {
        border-radius: 10px;
        width: 100%;
    }
}