<!doctype html>
<html lang="it">
  {{ partial "head" . }}
  <body>
    {{ partial "nav" . }}
    <main class="cnt">
      {{ block "main" . }}{{ end }} 
    </main>
    {{ partial "footer" . }}
    <script src="/app.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"4407be1771c1df2d75fc740b5","lid":"c4f7005d59","uniqueMethods":true}) })</script>
  </body>
</html>