{{ define "main" }}

<article class="post cnt">
  <h1 class="title">{{.Title}}</h1>
  <div class="info">
    <p>
      Pubblicato il {{ .Date.Day }}
      {{ index $.Site.Data.months_data.months .Date.Month }} {{ .Date.Year }} -
      Lettura in {{ .ReadingTime }} min.
    </p>
  </div>
  {{ partial "social-share" . }}

  <div class="content">
    {{ .Content }}
  </div>

  {{ partial "social-share" . }}
</article>

<div class="newsletter">
  <h1>Ti è piaciuto il post?</h1>
  <a href="http://eepurl.com/dEgd1j"
    >Iscrivi alla newsletter per rimanere aggiornato</a
  >
</div>

{{ partial "disqus" . }}
{{ end }}
